.eb-question-choice {
  margin: 20px 0 0 0;
  font-size: 16px;

  li {
    margin: 10px 30px 0 0;
  }
  input[type=radio] {
    display: none;
    margin: 10px;
  }
  input[type=radio] + label {
    display: inline-block;
    padding: 5px 0 5px 46px;
    margin-left: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url('data:image/svg+xml;base64,'
        + base64_encode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" overflow="visible" enable-background="new 0 0 26 26" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" stroke="#D4D4D4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M0.5,13C0.5,6.083,6.083,0.5,13,0.5c6.917,0,12.5,5.583,12.5,12.5c0,6.917-5.583,12.5-12.5,12.5C6.083,25.5,0.5,19.917,0.5,13z"/></svg>'));
    background-size: 25px 25px;
    color: #142e66;
    cursor: pointer;
  }
  input[type=radio]:disabled + label {
    cursor: default;
  }
  input[type=radio]:checked + label {
    background-image: url('data:image/svg+xml;base64,'
        + base64_encode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" overflow="visible" enable-background="new 0 0 26 26" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" stroke="#D4D4D4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M0.5,13C0.5,6.083,6.083,0.5,13,0.5c6.917,0,12.5,5.583,12.5,12.5c0,6.917-5.583,12.5-12.5,12.5C6.083,25.5,0.5,19.917,0.5,13z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3C22A" d="M6.75,13c0-3.459,2.791-6.25,6.25-6.25s6.25,2.791,6.25,6.25 s-2.791,6.25-6.25,6.25S6.75,16.459,6.75,13z"/></svg>'));
  }
}